.body {
    background-color: #FFB4B4;

}


.productslist {
    display: inline-flex;
    width: 90vw;
    max-width: 1170px;
    gap: 0.1rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin: 100px auto;
    margin-top: 15px;
    padding: 80px 0 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #FFB4B4;
}

.product {
    background: #bd7979;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
}

.product img {
    height: 150px;
    width: 150px;
    border-radius: 0.5rem;
}

.product h1 {
    margin-top: 0.2rem;
    font-size: 0.9rem;
    background: #bd7979;
}

.product h4 {
    color: #617d98;
    font-size: 0.75rem;
    margin-top: 0.1rem;
    background: #bd7979;
}

.btn {
    color: #fefefe;
    text-align: center;

}


.btn2:hover {
    background-color: #CA4E79;
}

.heads {
    margin-top: -1%;
    color: #660b2b;
    lighting-color: #660b2b;

}

.p {
    margin-left: 50px;
}


@media screen and (min-width: 768px) {

    .productslist {
        grid-template-columns: repeat(4, 1fr);
        align-items: start;
    }


}