.body{
        background-color: #FFB4B4;

}
.productslist {
    display: inline-flex;
    width: 90vw;
    max-width: 1170px;
    margin: 10rem auto;
   gap: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin: 50px auto;
    padding: 80px 0 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #FFB4B4;
}
.product {
    background: #bd7979;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
}

.product img {
    height: 150px;
    width: 150px;
    border-radius: 0.5rem;
}

.product h1 {
    margin-top: 0.2rem;
    font-size: 0.9rem;
    background: #bd7979;
}

.product h4 {
    color: #617d98;
    font-size: 0.75rem;
    margin-top: 0.1rem;
    background: #bd7979;
}

.btn {
    color: #fefefe;
    text-align: center;
    
}


.btn2:hover {
    background-color: #CA4E79;
}
.heads {
        margin-top: -10%;
 
    }

.heads h1 {
    /* border-top: 1px solid #CA4E79; */
        font-family: "IBM Plex Sans";
        border-radius: 20%;
        font-weight: 300;
        font-style: normal;
        font-display: fallback;
        font-size:45px;
        width: 50vw;
        max-width: 100%;
        margin: 1rem auto;
        text-align: center;
        align-items: center;
        color: #660b2b;

}


@media screen and (min-width: 768px) {

    .productslist {
        grid-template-columns: repeat(4, 1fr);
        align-items: start;
    }


}
